body {
    background-color: rgb(37, 40, 48);
    color: rgb(207, 210, 218);
}

.timer-unit {
    text-transform: uppercase;
}

.timer-value {
    background-color: rgb(207, 210, 218);
    border-radius: 5px;
    color: rgb(37, 40, 48);
    display: inline-block;
    font-family: monospace;
    min-width: 25%;
    padding: 20px 30px;
}

.widget {
  padding: 20px 0;
  text-align: center;
}

.widget-subject {
    color: rgb(28, 168, 221);
}
