<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashl</title>
  <link rel="stylesheet" href="/vendor/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/dashboard.css" />
</head>
<body>
  <div class="container-fluid">
    <div class="row widget">
      <div class="col">
        <div class="row event-name">
          <div class="col">
            <h1 class="display-1"><span id="timer-event-name">{{ config.event_name }}</span> in</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <h2 class="timer-value" id="timer-event-days"></h2>
            <div class="timer-unit">days</div>
          </div>
          <div class="col-3">
            <h2 class="timer-value" id="timer-event-hours"></h2>
            <div class="timer-unit">hours</div>
          </div>
          <div class="col-3">
            <h2 class="timer-value" id="timer-event-mins"></h2>
            <div class="timer-unit">mins</div>
          </div>
          <div class="col-3">
            <h2 class="timer-value" id="timer-event-secs"></h2>
            <div class="timer-unit">secs</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row widget">
      <div class="col justify-content-center">
        <div class="row">
          <div class="col">
            <h1 class="display-1">Weather</h1>
          </div>
        </div>
        <div class="row">
          <div class="col" id="weather-1">
          </div>
          <div class="col" id="weather-2">
          </div>
          <div class="col" id="weather-3">
          </div>
          <div class="col" id="weather-4">
          </div>
          <div class="col" id="weather-5">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/vendor/js/jquery-3.2.0.slim.min.js"></script>
  <script src="/vendor/js/tether-1.4.0.min.js"></script>
  <script src="/vendor/js/bootstrap.min.js"></script>
  <script src="/vendor/js/countdown-2.6.0.min.js"></script>
  <script src="/vendor/js/moment-2.18.1.js"></script>
  <script src="/js/dashboard.js"></script>
  <script type="text/javascript">
    ready(function () {
      var app = new App({{ json }});
    });
  </script>
</body>
</html>
